<ion-header>
  <div class="container-header">
    <div class="content-header">
      <div class="content-menu">
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </div>
      <div class="content-logo">
        <ion-img src="../../../assets/logo.png" alt="Shapes"></ion-img>
      </div>
      <div class="content-notification">
        <ion-icon name="notifications-outline" size="10"></ion-icon>
      </div>
    </div>

    <div class="content-profile">
      <app-profile></app-profile>
    </div>

  </div>

</ion-header>
