<div class="swiper-container" #swiperContainer>
  <div class="swiper-wrapper">
    <div class="container">
      <ng-container *ngFor="let item of cards | async; let first = first">
        <div class="container-card">
          <div class="container-title-card">{{ item.title }}
            <ion-icon name="{{ item.icon }}"></ion-icon>
          </div>

          <div class="content-card-image">
            <ion-img [src]="item.imageSrc" [alt]="item.imageAlt"></ion-img>
            <div class="overlay"></div>
            <div class="content-card-image-title">
              <div>
                <ion-span [ngClass]="{'centered-text': first}">
                  <ion-icon *ngIf="first" name="{{ item.icon }}" size="large"></ion-icon> {{ item.subtitle }}
                </ion-span>
                {{ item.description }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
